<head>
    {{> header }}
</head>

<div id="flex-container">
    <div class="Slide_Fix">
        <nav class="slidebar">
            {{>slidebar }}
        </nav>
    </div>
    <div class="RanhGioi">
    </div>
    <div class="thuoctinh3">
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        <div id="map"></div>
    </div>
</div>

<script src="./js/phongtoa.js"></script>