<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row container-fluid">

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="img/logo.png" style="">  
            <ul class="navbar-nav me-auto "></ul>
            
            <a class="btn btn-outline-success" href="/login">Đăng nhập</a> &nbsp;
            <a class="btn btn-outline-success"href="/sign_up">Đăng ký</a>

 
      </div>

  

  </div>
</nav>