<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{{!-- <div class="main-app">
    <div class="row">
        <div class="col-5 sidebar">
            <nav class="main-nav">
                <ul class="main-menu">
                    
                    <li class="menu-item">
                        <a href="/" class="menu-a">
                            <div class="menu-txt-hld">
                                <i class="fa fa-street-view  menu-icon"style="padding-right: 22px;"></i>
                                <span class="menu-txt">Bản đồ F0</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="/phongtoa" class="menu-a">
                            <div class="menu-txt-hld">
                                <i class="fas fa-radiation-alt menu-icon" style="padding-right: 25px;"></i>
                                <span class="menu-txt">Vùng dịch</span>
                            </div>
                        </a>
                    </li>
                    
                    <li class="menu-item">
                        <a href="/" class="menu-a">
                            <div class="menu-txt-hldkc">
                                <i class="fa fa-arrows-alt menu-icon" style="padding-left: 18px;"></i>
                                <span class="menu-txt">Khoảng cách</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> --}}

