USE [master]
GO
/****** Object:  Database [dialy]    Script Date: 12/6/2021 8:13:13 AM ******/
CREATE DATABASE [dialy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dialy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dialy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dialy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dialy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dialy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dialy]
GO
/****** Object:  Table [dbo].[HoDuongTinh]    Script Date: 12/6/2021 8:13:13 AM ******/


CREATE TABLE [dbo].[HoDuongTinh](
	[ID] [int] NOT NULL,
	[LastName] [varchar](255) NULL,
	[FirstName] [varchar](255) NULL,
	[NamSinh] [int] NULL,
	[SDT] [varchar](10) NULL,
	[x] [float] NULL,
	[y] [float] NULL,
	[DiaChi] [varchar](255) NULL,
	[NgayBiDuongTinh] [datetime] NULL,
	[tinhtrang] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[Toa_do] [geography] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_dung]    Script Date: 12/6/2021 8:13:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_dung](
	[ID] [int] NOT NULL,
	[LastName] [varchar](255) NULL,
	[FirstName] [varchar](255) NULL,
	[MatKhau] [varchar](255) NULL,
	[SDT] [varchar](10) NULL,
	[x_diachi] [float] NULL,
	[y_diachi] [float] NULL,
	[tinhtrang] [varchar](255) NULL,
	[DiaChi] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[Toa_do] [geography] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
