<!DOCTYPE html>
<html lang="en">


<head>
    {{> head }}

</head>

<body class="hold-transition sidebar-mini layout-fixed">

{{{  body  }}}

    <footer>
        {{> footer}}
    </footer>
</body>

</html>